<title>Tiny App</title>
<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/">Home</a></li>
    </ul>
    <h2>Tiny App</h2>
    <ul>
      <li><<a href="/register">Registration</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/urls/new">New Short URL</a>/li>
    </ul>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
  </nav>
</div>
