
<meta charset="UTF-8">

<title>Tiny App</title>

  <p>
    <% if (username.length > 0) { %>
      <%= username %>
      <form method="POST" action="/logout">
        <input type="logout" value="Logout">
      </form>
    <% } else { %>
      <form action="/login" method="POST" style="margin:150px;">
        <input id="name" type="text" name="username" placeholder="username" style="width: 300px">
        <input type="submit" value="Submit">
        </form>
    <% } %>
  </p>
