<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tiny App</title>
</head>

<body>

<a href="/register">registration</a><br>
<a href="/login">Login</a><br>
<form action="/logout" method="POST">
<input type="submit" value="Logout">
</form>
<a href="/urls/new">new short link</a>


</body>
