<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tiny App</title>
  </head>

  <body>

    <header>
      <% include partials/_header.ejs %>
   </header>
    <% urls.forEach (function (url) { %>
      <li>
         <%= url["longURL"] %>
         <%= url["shortURL"] %>
      <form method="POST" action="/urls/<%= url["shortURL"] %>/delete">
        <input type="submit" value=delete>
      </form>

      <form method="GET" action="/urls/<%= url["shortURL"] %>">
        <input type="submit" value=edit>
      </form>

      </li>
    <% }); %>

  </body>
</html>

